.component {
 display: flex;
 height: auto;
 width: auto;
 margin-top: 2em;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}

.label {
 color: #fff;
 font-family: 'apercu-pro', sans-serif;
 margin-bottom: 1em;

 input {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  height: 1.75em;
  margin-left: 0.7em;
  padding-left: 5px;
  width: 295px;

  &:focus {
   transition: ease-in-out 0.3s linear;
   border: 1px solid #979fef;
   border-radius: 5px;
   outline: none;
  }
 }

 @media screen and (max-width: 685px) {
  input {
   width: 205px;
  }
 }
}

.subscribeBtn {
 align-self: center;
 min-width: 275px;
 min-height: 35px;
 background-color: transparent;
 border: 1px solid #979fef;
 color: #979fef;
 border-radius: 5px;
 font-family: 'apercu-pro', sans-serif;
 font-weight: 400;
 font-size: 1em;

 &:hover {
  transition: ease-in-out 0.9s linear;
  color: #282c34;
  cursor: pointer;
  background-color: #979fef;
 }

 &:focus {
  outline: none;
 }
}