@import '../../assets/scss/variables';

.component {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 height: 300px;

 .bio {
  font-size: 0.7em;
  line-height: 1.7rem;
  max-width: 60%;
  padding-left: 0.5em;
 }

 .name {
  padding-left: 0.3em;
 }

 &.philippe {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-secondary;
    border-right: 1px solid $color-secondary;
   }
  }

  p {
   align-self: flex-end;
   margin-top: 3em;
  }
 
  img {
   height: 250px;
   width: 225px;
   position: absolute;
   bottom: -10px;
   left: 0px;
  }
 }

 &.marcus {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-secondary;
    border-left: 1px solid $color-secondary;
   }
  }

  img {
   height: 255px;
   width: 225px;
   position: absolute;
   bottom: -10px;
   right: -15px;
  }
 }

 &.jeremy {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-primary;
    border-left: 1px solid $color-primary;
   }
  }

  img {
   height: 210px;
   width: 245px;
   position: absolute;
   bottom: -13px;
   right: -23px;
  }
 }

 &.vaclav {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-primary;
    border-left: 1px solid $color-primary;
   }
  }

  img {
   height: 220px;
   width: 240px;
   position: absolute;
   bottom: -27px;
   right: -15px;
  }
 }
}

// Media Queries ///////////////////////////////////////////////////////////

.component {
 @media screen and (max-width: 1250px) {
  height: 325px;
 }

 &.philippe {
  p {
   @media screen and (max-width: 1250px) {
    margin-top: 2em;
   }

   @media screen and (max-width: 1000px) {
    margin-top: 1em;
   }
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 200px;
    width: 175px;
   }

   @media screen and (max-width: 1250px) {
    height: 190px;
    width: 165px;
   }
  }
 }

 &.marcus {
  img {
   @media screen and (max-width: 1340px) {
    height: 200px;
    width: 175px;
   }
  }
 }

 &.jeremy {
  @media screen and (max-width: 1250px) {
   height: 335px;
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 160px;
    width: 195px;
   }
  }
 }

 &.vaclav {
  img {
   @media screen and (max-width: 1340px) {
    height: 175px;
    width: 190px;
   }
  }
 }

 .bio {
  @media screen and (max-width: 1500px) {
   font-size: 0.6em;
   line-height: 1.6rem;
  }

  @media screen and (max-width: 1340px) {
   font-size: 0.6em;
   line-height: 1.5rem;
  }

  @media screen and (max-width: 1250px) {
   margin-top: 0.4em;
   line-height: 1.4rem;
  }
 }

 .name {
  @media screen and (max-width: 1250px) {
   font-size: 0.8em;
  }
 }
}
