@import '../../assets/scss/variables';

.component {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 height: 330px;

 .bio {
  font-size: 0.7em;
  line-height: 1.7rem;
  max-width: 60%;
  padding-left: 0.5em;
 }

 .toprow_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .name {
   font-size: 0.9em;
   margin: 0;
   padding-left: 0.3em;
  }

  .social_icon {
   &:hover {
    cursor: pointer;

    svg {
     path {
      stroke: $color-secondary;
     }
    }
   }

   svg {
    path {
     stroke: $color-primary;
     transition: all 0.3s ease-in-out;
    }
   }

   // &.github_icon {
    
   // }
  }
 }
 

 &.philippe {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-secondary;
    border-right: 1px solid $color-secondary;
   }
  }

  p {
   align-self: flex-end;
   margin-top: 2em;
  }
 
  img {
   height: 250px;
   width: 225px;
   position: absolute;
   bottom: -11px;
   left: 0px;
  }
 }

 &.marcus {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-secondary;
    border-left: 1px solid $color-secondary;
   }
  }

  img {
   height: 255px;
   width: 225px;
   position: absolute;
   bottom: -11px;
   right: -15px;
  }
 }

 &.jeremy {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-primary;
    border-left: 1px solid $color-primary;
   }
  }

  img {
   height: 210px;
   width: 245px;
   position: absolute;
   bottom: -13px;
   right: -23px;
  }
 }

 &.vaclav {
  span {
   &:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid $color-primary;
    border-left: 1px solid $color-primary;
   }
  }

  img {
   height: 220px;
   width: 240px;
   position: absolute;
   bottom: -28px;
   right: -15px;
  }
 }
}

// Media Queries ///////////////////////////////////////////////////////////

.component {
 @media screen and (max-width: 1250px) {
  height: 325px;
 }

 @media screen and (max-width: 1024px) {
  height: 368px;
 }

 @media screen and (max-width: 768px) {
  height: 385px;
 }

 @media screen and (max-width: 600px) {
  height: 400px;
 }

 @media screen and (max-width: 375px) {
  height: 465px;
 }

 &.philippe {
  @media screen and (max-width: 320px) {
   height: 525px;
  }

  p {
   @media screen and (max-width: 1250px) {
    margin-top: 2em;
   }

   @media screen and (max-width: 1000px) {
    margin-top: 3em;
   }

   @media screen and (max-width: 600px) {
    margin-top: 2em;
   }
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 200px;
    width: 175px;
   }

   @media screen and (max-width: 1250px) {
    height: 190px;
    width: 165px;
   }

   @media screen and (max-width: 1000px) {
    height: 250px;
    width: 225px;
   }

   @media screen and (max-width: 600px) {
    height: 160px;
    width: 135px;
    left: -5px;
    bottom: -6px;
   }
  }
 }

 &.marcus {
  @media screen and (max-width: 320px) {
   height: 525px;
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 200px;
    width: 175px;
   }

   @media screen and (max-width: 1000px) {
    height: 255px;
    width: 225px;
   }

   @media screen and (max-width: 600px) {
    height: 180px;
    width: 155px;
    right: -18px;
    bottom: -8px;
   }
  }
 }

 &.jeremy {
  @media screen and (max-width: 450px) {
   height: 480px;
  }

  @media screen and (max-width: 375px) {
   height: 510px;
  }

  @media screen and (max-width: 320px) {
   height: 587px;
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 160px;
    width: 195px;
   }

   @media screen and (max-width: 1000px) {
    height: 210px;
    width: 245px;
   }

   @media screen and (max-width: 600px) {
    height: 130px;
    width: 165px;
    bottom: -8px;
    right: -13px;
   }
  }
 }

 &.vaclav {
  @media screen and (max-width: 600px) {
   height: 455px;
  }

  @media screen and (max-width: 375px) {
   height: 495px;
  }

  @media screen and (max-width: 320px) {
   height: 572px;
  }

  img {
   @media screen and (max-width: 1340px) {
    height: 175px;
    width: 190px;
   }

   @media screen and (max-width: 1000px) {
    height: 220px;
    width: 240px;
   }

   @media screen and (max-width: 600px) {
    height: 135px;
    width: 155px;
    bottom: -17px;
    right: -9px;
   }
  }
 }

 .bio {
  @media screen and (max-width: 1500px) {
   font-size: 0.6em;
   line-height: 1.6rem;
  }

  @media screen and (max-width: 1340px) {
   font-size: 0.6em;
   line-height: 1.5rem;
  }

  @media screen and (max-width: 1250px) {
   margin-top: 0.4em !important;
   line-height: 1.4rem;
  }

  @media screen and (max-width: 1000px) {
   font-size: 0.7em;
   line-height: 1.7rem;
   margin-top: 1em;
  }

  // ipad
  @media screen and (max-width: 768px) {
   margin-top: 0.3em;
   font-size: 0.8em;
  }

  @media screen and (max-width: 600px) {
   margin-top: 1em;
   font-size: 0.7em;
   line-height: 1.5rem;
  }

  @media screen and (max-width: 500px) {
   font-size: 0.6em;
   line-height: 1.4rem;
  }

  @media screen and (max-width: 320px) {
   line-height: 1.3rem;
  }
 }
 .toprow_wrapper {
  .name {
   @media screen and (max-width: 1250px) {
    font-size: 0.8em;
   }
 
   @media screen and (max-width: 1000px) {
    font-size: 100%;
   }
 
   @media screen and (max-width: 600px) {
    font-size: 0.8em;
   }
  }

  .social_icon {
   @media screen and (max-width: 600px) {
    height: 40px;
    width: 40px;
   }
  }
 }
}
