$block-map: (
  top-left: (
    startX: 0px,
    endX: var(--float-animation-endpoint), 
    speedX: 8s,
    startY: 0px,
    endY: var(--float-animation-endpoint), 
    speedY: 9s,
    speedSpin: 4s
  ),
  top-middle: (
    startX: var(--float-animation-midpoint),
    endX: var(--float-animation-endpoint), 
    speedX: 7s,
    startY: 0px,
    endY: var(--float-animation-endpoint), 
    speedY: 8s,
    speedSpin: 8s
  ),
  top-right: (
    startX: var(--float-animation-endpoint),
    endX: 0px, 
    speedX: 10s,
    startY: 0px,
    endY: var(--float-animation-endpoint), 
    speedY: 9s,
    speedSpin: 7s
  ),
  right-middle: (
    startX: var(--float-animation-endpoint),
    endX: 0px, 
    speedX: 6s,
    startY: var(--float-animation-midpoint),
    endY: var(--float-animation-endpoint), 
    speedY: 7s,
    speedSpin: 9s
  ),
  bottom-right: (
    startX: var(--float-animation-endpoint),
    endX: 0px, 
    speedX: 10s,
    startY: var(--float-animation-endpoint),
    endY: 0px, 
    speedY: 11s,
    speedSpin: 2s
  ),
  bottom-middle: (
    startX: var(--float-animation-midpoint),
    endX: 0px, 
    speedX: 5s,
    startY: var(--float-animation-endpoint),
    endY: 0px, 
    speedY: 6s,
    speedSpin: 5s
  ),
  bottom-left: (
    startX: 0px,
    endX: var(--float-animation-endpoint), 
    speedX: 9s,
    startY: var(--float-animation-endpoint),
    endY: 0px, 
    speedY: 8s,
    speedSpin: 3s
  ),
  left-middle: (
    startX: 0px,
    endX: var(--float-animation-endpoint), 
    speedX: 11s,
    startY: var(--float-animation-midpoint),
    endY: 0px, 
    speedY: 12s,
    speedSpin: 10s
  )
);


@mixin floatAnimation() {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @each $block, $property-map in $block-map {
    @keyframes moveX-#{$block} {
      from { left: map-get($property-map, startX); } to { left: map-get($property-map, endX); }
    }

    @keyframes moveY-#{$block} {
      from { top: map-get($property-map, startY); } to { top: map-get($property-map, endY); }
    }

    .float-#{$block} {
      height: var(--floating-block-height);
      width: var(--floating-block-width);
      position: absolute;
      animation: moveX-#{$block} map-get($property-map, speedX) ease-in-out infinite alternate, moveY-#{$block} map-get($property-map, speedY) ease-in-out infinite alternate, spin map-get($property-map, speedSpin) linear infinite;
    }
  }
}