@keyframes slick {
 from {
   width: 0;
   .navbar_logo_container {
     width: 0;
   }
 }
 to {
   width: 100vw;
   .navbar_logo_container {
     width: 15vw;
   }
 }
}

@mixin slickAnimation($duration) {
 animation: slick $duration;
}