@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinLeft {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@mixin spinAnimation {
  animation: spin 60s linear infinite;
}

@mixin spinLeftAnimation {
  animation: spinLeft 5s linear infinite;
}