@keyframes traverse {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(1500px, 850px);
  }
}

@mixin traverseAnimation {
  animation: traverse 15s ease-in-out infinite alternate;
}