.app {
  background-color: #282c34;
  height: 100vh;
  // height: 300vh;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100vh;
    max-height: var(--window-inner-height);
  }
}