.app {
  background-color: #282c34;
  height: 300vh;

  .deep_space_wrapper {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    min-height: var(--window-inner-height);
    font-size: calc(10px + 2vmin);

    .deep_space_visuals {
      border: 1px solid green;
      padding-top: 2em;
      padding-left: 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;
    }
  
    .deep_space_content {
      height: 100%;
      border: 1px solid orange;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}