@import './assets/scss/variables';

.app {
  background-color: #282c34;

  .logo_wrapper_outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    font-size: calc(10px + 2vmin);

    .logo_wrapper_inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      color: white;
    }
  }

  .deep_space_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    font-size: calc(10px + 2vmin);

    .deep_space_visuals {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;
    }
  }

  .email_collection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &_wrapper {
      height: auto;
      margin-top: 48px;
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: 3px 3px 20px $color-primary;
      padding: 1em;

      h1 {
        display: inline;
        font-family: 'apercu-pro', sans-serif;
        font-size: 1.3em;
        color: #fff;
        margin: 0;
        padding: 0;

        &:nth-of-type(2) {
          color: $color-primary;
          font-family: 'Altero-Regular';
          border-bottom: 1px solid #fff !important;
          border-right: 1px solid #fff !important;
          padding: 0 5px 5px 5px;
        }
      }
    }
  }
}

// Media Queries ////////////////////////////////////////////////////////

.app {
  .logo_wrapper_outer {
    @media screen and (max-width: 685px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo_wrapper_inner {
      @media screen and (max-width: 685px) {
        align-items: center;
        padding-top: 0;
        padding-left: 0;
      }
    }
  }

  .deep_space_wrapper {
    @media screen and (max-width: 685px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .deep_space_visuals {
      @media screen and (max-width: 685px) {
        align-items: center;
        padding-top: 0;
        padding-left: 0;
      }
    }
  }
}